.lin-card {
  @include bordered;
  @include rounded;
  @include elevated;
  background: $color-white;
  border-color: transparent;
  padding: $spacer;
  margin: 2px auto;

  &.row {
    padding: 0;
  }

  &.is-flat {
    @include flattened;
    border-color: $color-middle-gray;
  }
  
}
