.lin-code,
figure.highlight,
div.highlight {
  font-family: monospace;
  font-size: 1.22rem;
  background: $color-light-gray;
  border-left: 4px solid $color-primary;
  padding: $spacer;
  margin: 0;
  overflow-x: auto;

  &.is-terminal {
    background: $color-terminal-dark;
    color: $color-white;
    
    &:before {
      content: '$';
      margin-right: $spacer / 2;
    }
  }
}

code.highlighter-rouge,
span.highlighter-rouge {
  font-family: monospace;
  background: $color-light-gray;
  padding: 4px;
}
