form {
  font-family: $font-sans-serif;
  & p {
    font-family: $font-sans-serif;
    margin: 0 0 1.5rem 0;
  }
}

label {
  font-family: $font-sans-serif;
  font-size: 1.1rem;
  display: block;
  &.lin-input-label {
    font-size: .9rem;
  }
}

.lin-input {
  @include rounded();
  @include bordered();
  display: block;
  background: $color-white;
  max-width: 100%;
  padding: 6px 10px;
  font-family: $font-sans-serif;
  font-size: 1.3rem;
  border-color: $color-middle-gray;

  &:focus {
    border-color: $color-primary
  }
}

input[type=checkbox],
input[type=radio] {
  margin-right: 1rem;
  cursor: pointer;
}
