body {
  background: $color-light-gray;
  font-family: $font-sans-serif;
  font-weight: $font-normal;
  color: $color-black;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.6;
}

p, li {
  font-family: $font-serif;
  font-size: 1.3rem;
  margin: $spacer 0;
  padding: 0;
}

li {
  margin: .2 * $spacer 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

pre {
  margin: 0;
}

a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  transition: border-color .2s ease-out;

  &:hover {
    padding-bottom: 2px;
    border-color: $color-primary;
  }
}
