body {
  background: $color-light-gray;
  font-family: $font-sans-serif;
  font-weight: $font-normal;
  color: $color-black;
  margin: 0;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

pre {
  margin: 0;
}
