.is {
  &-flex {
    display: flex;

    &-center {
      display: flex;
      align-items: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-start {
      justify-content: flex-start;
    }
  }
}
