@mixin bordered {
  border: 1px solid $color-light-gray;
}

@mixin rounded {
  border-radius: $border-radius;
}

@mixin elevated {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

@mixin flattened {
  box-shadow: none;
}

@mixin transitionAll {
  transition: all .15s ease-in-out;
}

@mixin minorVerticalSpacing {
  margin: 2px auto;
}

@mixin fullWidth {
  width: 100%;
}

@mixin letterSpacing {
  letter-spacing: .5px;
}
